
/* The CSS Fast, freezable, nourishing div  */
/* 
.recipehead {
  font-family: 'Tourney', sans-serif;
  font-size: xx-large;
} */



/* headings */
h1 {
  font-family: 'Tourney', sans-serif;
  font-size: 50px;}

li {
  display: inline;
  font-family: 'Open Sans', sans-serif;

}

li a {
  color: black;
  text-align: left;
  padding: 14px 16px;
  border-spacing: 2px;
  text-decoration: none;
}

div {
    display: flex;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1%;
    justify-content: space-evenly;
  }

  .grid-item {
    padding: 2px;
    font-size: 30px;
    justify-content: center;
text-align: center;
}